debug*log
.DS_Store
plugins/dummy/f4-dummy-plugin
f4
f4.exe
plugins/dummy_internal/f4-internal-dummy-plugin
plugins/dummy_rpc/f4-rpc-dummy-plugin
dummy_rpc_plugin
_failed_tests_f4.log
qt/host/build/
qt/host/CMakeUserPresets.json
qt/host/.qt/
screenshots/
